@model Aula_MVC_Top.Models.Aluno
@{
    ViewBag.Title = "Novo_Aluno";
}
<style>
    .validation-summary-errors {
        color: red !important;
    }

    .minha-css {
        color: blue;
    }
</style>
<h2>Novo Aluno</h2>
@using (Html.BeginForm("Novo_Aluno", "Aluno", FormMethod.Post))
{

    @Html.ValidationSummary(true, "", new { @class = "minha-css" })

    @Html.LabelFor(x => x.Nome, new { @class = "minha-css" })
    @Html.TextBoxFor(x => x.Nome)
    <br />
    @Html.LabelFor(x => x.Idade)
    @Html.TextBoxFor(x => x.Idade)
    <br />

    @Html.LabelFor(x => x.Sexo)
    @Html.TextBoxFor(x => x.Sexo)
    @Html.ValidationMessageFor(x => x.Sexo)
    <br />
    @Html.LabelFor(x => x.Peso)
    @Html.TextBoxFor(x => x.Peso)
    @Html.ValidationMessageFor(x => x.Peso)
    <br />
    <input type="submit" value="Salvar" />
}



@*<form method="post">*@
@*Nome*@
@*<input type="text" id="Nome" name="Nome" /> , new { @maxlength=5}*@

@*Idade
    <input type="text" id="Idade" name="Idade" />*@

@*Sexo*@
@*<input type="text" id="Sexo" name="Sexo" />*@

@*</form>*@

