@model IEnumerable<Meu_Projeto.Models.Produtos>
@{
    ViewBag.Title = "ListaCarregadores";
}

<h2>Carregadores</h2>
<table width="70%">
    @Html.ValidationSummary(true)
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Adicionar ao carrinho</th>
        <th>Detalhes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>@item.Valor</td>
            <td>@item.Tipo</td>
            <td>@item.Marca</td>
            <td>@item.Modelo</td>
            <td>@Html.ActionLink("Adicionar", "AdicionarCarrinho", new { id = @item.Id })</td>
            <td>@Html.ActionLink("Detalhes", "Detalhes", new { id = @item.Id })</td>
        </tr>
    }
</table>

@section Lateral{
    @{ if (Session["Logado"].Equals("Usuario"))
        {
            @Html.Partial("_LateralUser")
        }

    }
}

@section Rodape{
    @{ if (Session["Logado"].Equals("Usuario"))
        {
            @Html.Partial("_Footer")
        }
    }
}
